.teaser-block {
    width: 240px;
    margin-bottom: 30px;
    border: 1px solid black;
    margin: 0 $gutterWidth 30px;

    @media ($fromLarge) {
        flex: 0 0 25% - $gutterWidth * 2;
    }
}

.teaser-block__content {
    padding: 20px;
    background-color: white;
}

.teaser-block__footer {
    padding: 20px;
    background-color: $theme2;
}